<h1>Owners:</h1>

<table>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Company</th>

<% @owners.each do |owner| %>
  <tr>
    <td><%= owner.first_name %></td>
    <td><%= owner.last_name %></td>
    <td><%= owner.email %></td>
    <td><%= owner.company %></td>
    <td><%= link_to 'Delete', owner_path(owner), method: :delete %>
  </tr>
<% end %>
</table>
<br>
<%= link_to 'Add new Owner', new_owner_path %>
