<h1>Buildings:</h1>

<table>
<th>Address</th>
<th>City</th>
<th>State</th>
<th>Postal Code</th>
<th>Description</th>
<th>Owner</th>

<% @buildings.each do |building| %>
  <tr>
    <td><%= building.address %></td>
    <td><%= building.city %></td>
    <td><%= building.state %></td>
    <td><%= building.postal_code %></td>
    <td><%= building.description %></td>
    <% if building.owner.present? %>
      <td><%= building.owner.first_name %> <%= building.owner.last_name %></td>
    <% else %>
      <td>n.a.</td>
    <% end %>
    <td><%= link_to 'Delete', building, method: :delete %></td>
  </tr>
<% end %>
</table><br>
<%= link_to 'Add new Building', new_building_path %>
